<div class="container">
    <p>
    <label for="new-task" class="middle">Add Task</label>
    <form>
        <input id="new-task" type="text"><input type="submit" value="Add Task" />
    </form>
    </p>

    <h3 class="middle">Todo</h3>
    {{!-- <button id="allCustomers" type="button" class="btn btn-default">Get Tasks</button> --}}
    <div id="getResultDiv">
        <ul class="list-group">
        </ul>
    </div>

    <h3 class="middle">Completed Tasks</h3>
    <ul id="completed-tasks">
    </ul>
</div>
<div class="row">



</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/task/task.js"></script>