<style>
  [contenteditable] {
  outline: 0px solid transparent;
}

</style>


<body>


  <button type="button" class="button" href="/createnotes" onclick="createNewNote()">
    <span class="button__text">New</span>
    <span class="button__icon">
      <ion-icon name="add-circle-outline"></ion-icon>
    </span>
  </button>
  
  <div id="note_space">
    <div id="notes"></div>
  </div>
</body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  var namee = "{{name}}";
  var groupid = "{{g_id}}";
  var sent = namee.split(",");
  
  var sent_list = []
  var temp = []
  for (let i = 0; i <= sent.length; i++) {
    temp.push(sent[i])
    //console.log(temp)
    if (temp.length > 4){
      sent_list.push(temp)
      temp = []
    };
}

 

  
  
  //src="../../models/note.js"
  var notes_list = [];
  var count = 0
  var note_count = 0
  //var title = document.getElementById("lol")
  //title.setAttribute("style", "position: absolute;border: 1px solid blue;width: 300px;height: 100px;top: 70px;left: 15px; ")
  class Note {
    constructor(id,x, y, height, width,text,color) {
      this.x = x;
      this.y = y;
      this.height = height;
      this.width = width;
      this.text = text
      this.id = id
      this.obj = null
      this.color = color
      note_count += 1
      

    };
    

    
    CreateNote() {
      var div = document.createElement("div");
      div.className = "note"
      div.id = this.id
      div.onmousedown = "move_div(div)"
      div.style.position = "absolute";
      div.style.border = "1px solid #000";
      div.style.width = this.width.toString() + "px";
      div.style.height = this.height.toString() + "px";
      div.style.left = this.x.toString() + "px";
      div.style.top = this.y.toString() + "px";
      div.style.backgroundColor = this.color;
      div.style.color = "black";
      //div.style.height = "50vh";
      div.style.display = "flex";
      div.style.alignItems = "center";
      div.style.justifyContent = "center";

      var text = document.createElement("p");
      text.className = "text"
      text.contentEditable = "true"
      text.innerHTML = this.text
      div.appendChild(text)

      var del = document.createElement("button");
      del.style.position = "absolute";
      del.style.right = 10 + "px";
      del.style.top = 10 + "px";
      del.style.padding = "5px 5px"
      del.innerHTML = ""
      del.onclick =function(){
      $.post("/notes/deletenote",{gid:groupid,id:div.id});
      window.location.href = "/notes/" + groupid;    
        };

      div.appendChild(del);

      var change_red = document.createElement("button");
      change_red.style.position = "absolute";
      change_red.style.left = 5 + "px";
      change_red.style.top = 5 + "px"; 
      change_red.style.padding = "5px 5px"
      change_red.style.backgroundColor = "red";
      change_red.onclick =function(){
      
      div.style.backgroundColor = "red"
      $.post("/notes/updatenote",{id:div.id, text:text.innerHTML, x:parseFloat(div.style.left), y:parseFloat(div.style.top),gid:groupid,color:"red"});
      window.location.href = "/notes/" + groupid;  
      
      };

      div.appendChild(change_red);

      var change_yellow = document.createElement("button");
      change_yellow.style.position = "absolute";
      change_yellow.style.left = 25 + "px";
      change_yellow.style.top = 5 + "px"; 
      change_yellow.style.padding = "5px 5px"
      change_yellow.style.backgroundColor = "yellow";
      change_yellow.onclick =function(){
      
      div.style.backgroundColor = "yellow"
      $.post("/notes/updatenote",{id:div.id, text:text.innerHTML, x:parseFloat(div.style.left), y:parseFloat(div.style.top),gid:groupid,color:"yellow"});
      window.location.href = "/notes/" + groupid;  
      
      };

      div.appendChild(change_yellow);

      var change_green = document.createElement("button");
      change_green.style.position = "absolute";
      change_green.style.left = 45 + "px";
      change_green.style.top = 5 + "px"; 
      change_green.style.padding = "5px 5px"
      change_green.style.backgroundColor = "green";
      change_green.onclick =function(){
      
      div.style.backgroundColor = "green"
      $.post("/notes/updatenote",{id:div.id, text:text.innerHTML, x:parseFloat(div.style.left), y:parseFloat(div.style.top),gid:groupid,color:"green"});
      window.location.href = "/notes/" + groupid;  
      
      };

      div.appendChild(change_green);



      
      //document.getElementById("notes").appendChild(del);
      document.getElementById("notes").appendChild(div);
      this.obj = div;

      
    };
    update(){
      
      var id,text,x,y;  
      
      var t = this.text;
          
          $.post("/notes/updatenote",{id:this.id, text:this.text, x:this.x, y:this.y,gid:groupid,color:this.color}
          );
      
    };


  };

  function displaynote(chosen_note){
      for (i in notes_list){
        i.move_div(chosen_note);
      }
      
  };
  function drawnotes(){
    
    for (i in sent_list){
      
      //console.log(sent_list[i]);
      const new_note = new Note(sent_list[i][0], sent_list[i][2], sent_list[i][3], 300, 300, sent_list[i][1],sent_list[i][4]);

      //console.log(new_note.x)
      new_note.CreateNote();
      notes_list.push(new_note);
      move_div(new_note);
  }
  }
  drawnotes()
  
  
  function createNewNote() {
    var biggest = 0;
    for (i in sent_list){
      if (i[0] > biggest){
        biggest = i[0];
      };
    };
    
    var new_id = biggest + 1;
    
    const new1 = new Note(new_id,250, 150, 300, 300,"New Note","yellow");
    count += 0;
    new1.CreateNote();
    notes_list.push(new1);


    $.post("/notes/createnote",{gid:groupid});
    
    move_div(new1);
    window.location.href = "/notes/" + groupid;
  };

  

  var clicked = get_clicked();
  
  function get_clicked() {
    var re = document.addEventListener('click', function (e) {
      e = e || window.event;
      var target = e.target || e.srcElement,
        text = target.textContent || target.innerText;
        
        return target
    }, false);

  };
$(document).on('keyup', function() {
    console.log('key was released')
    for (let i = 0; i < notes_list.length; i++) {
      se_note = notes_list[i];
      se_note.text = se_note.obj.textContent
      se_note.update()

      };
})


  function move_div(ele) {

    var el = ele.obj

    el.onmousedown = mousedown;
    
    function mousedown(e) {
       
      window.addEventListener("mousemove", mousemove);
      window.addEventListener("mouseup", mouseup);

      let prevX = e.clientX;
      let prevY = e.clientY;


      function mousemove(e) {
        let newX = prevX - e.clientX;
        let newY = prevY - e.clientY;
        
        const rect = el.getBoundingClientRect();
        el.style.left = rect.left - newX + "px";
        el.style.top = rect.top - newY + "px";
        

        ele.x = rect.left - newX;
        ele.y = rect.top - newY ;
        console.log(rect.left - newX)
        if (rect.left - newX < 225){
          el.style.left = 225 + "px";;
          ele.x = 225;
        }
        if (rect.top - newY < 125){
          el.style.top = 125 + "px";;
          ele.y = 125;
        }
        
        prevX = e.clientX;
        prevY = e.clientY;
      }
      function mouseup() {
        window.removeEventListener('mousemove', mousemove);
        window.removeEventListener('mouseup', mouseup);
        ele.update();
      }
    }

  }

  //const new1 = new Note(250, 150, 300, 300);
  //new1.DisplayNote();
</script>

</body>