<head>
  <link rel="stylesheet" href="css/chat.css" />
</head>
<body>
  <header>
    <h1>Public Chat</h1>
  </header>

  <section id="chatroom">
    <p class="message"><b>Welcome to public chat!</b></p>
    <section id="feedback"></section>
  </section>

  <section id="input_zone"> 
    <input id="message" class="vertical-align" type="text" />
    <button id="send_message" class="vertical-align" type="button">Send</button>
  </section>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/chat/chat.js"></script>
</body>